
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}
.section-fond {
  position: relative;
  background-image: url('fond1.png');
  background-size: cover;
  background-position: center;
  height: 125vh; /* Ajustez selon vos besoins */
  overflow: hidden; /* Pour empêcher le débordement d'éléments hors de la section */
}
.section-fond::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Fond sombre semi-transparent */
}

.hero-section {
  position: relative;
  text-align: center;
  padding: 100px 0; /* Ajustez le padding pour centrer verticalement */
  background: url('fond1.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  animation: backgroundMove 10s infinite linear;
}
.hero-section .container {
  position: relative;
  z-index: 1;
}
.hero-section .book-image {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
  height: auto; /* Laissez la hauteur s'ajuster automatiquement */
}
h1 {
  font-family: 'Poppins';
  font-size: 17px;
}
.st1 {
  font-family: 'Montserrat'; 
  font-size: 32px;
  margin-top: 30px;
}
.st1 > strong > span:not(.nb) {
  color: rgb(255, 192, 50);
}
.barrer {
  text-decoration: line-through;
}
.cp{
  color: #ffcc00;
}
.cta-btn {
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
}
.section {
  padding: 50px 0;
}
.testimonial, .service, .team-member {
  background-color: #333;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}
.footer {
  background-color: #222;
  padding: 20px 0;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  margin-top: 30px; /* Ajustez selon vos besoins */
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bgw{
  background-color: white;
}
.txtc{
  text-align: center;
}
.highlight {
  background-color: yellow;
}
.icon {
  font-size: 2em;
  color: rgb(0, 0, 0);
}
.section-title {
  font-weight: bold;
  font-size: 24px;
}
.section-text {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
}
.btn-custom {
  background-color: #FFA500;
  color: white;
  font-weight: bold;
}
.icon-container {
  padding: 10px;
  text-align: center;
}
.fas{
  margin-right: 10px;
  color:RGB(0, 86, 179);
}
.icon-text {
  display: flex;
  align-items: center;
  font-size: 1.5em; /* Adjust this size as needed */
  
}
.mod{
  padding-left: 5px;
  font-family: 'poppins';
  font-size: 20px;
  color: yellow;
  padding-top: 30px;
}
.fm{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 22px;
}
.br{
  border: 1px solid white;
  border-radius: 10px;

}
.cp{
  color: rgb(255, 192, 50);
}
.sections {
background-color: #000000;
padding: 50px 0;
}

.custom-card {
background-color: #ffffff;
border-radius: 10px;
border: 1px solid #e1e1e1;
transition: box-shadow 0.3s ease;
}

.custom-card:hover {
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.custom-card-body {
padding: 20px;
color: #000000;
}

.icon-container {
border-radius: 10px;
overflow: hidden;
background-color: yellow;
}

.icon-container .custom-card-body {
padding: 15px;
}

.icon {
font-size: 1.5rem;
}

.mod {
font-size: 0.8rem;
font-weight: bold;
color: rgb(0, 0, 0);
}

.btn-custom {
background-color:#ffcc00;
color: black;
border: none;
padding: 15px 30px;
border-radius: 25px;
transition: background-color 0.3s ease;
}

.btn-custom:hover {
background-color: #b0bd04;
}
.fmd {
background-color: black;
padding: 30px;
border-radius: 10px white;
}

.tc {
text-align: center;
margin-bottom: 40px;
}
.fs{
font-size: 20px;
}
/**/
.bg {
  background: url('intro.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.coming-soon {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 100%; /* Utilisation de toute la largeur */
}

.countdown {
  display: flex;
  justify-content: space-around; /* Pour espacer uniformément les éléments */
  margin-top: 2rem;
}

.countdown div {
  flex: 1;
  margin: 0 10px;
}

.countdown span {
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.countdown div:last-child {
  margin-right: 0;
}

.countdown div:first-child {
  margin-left: 0;
}

.subscribe-form input,
.subscribe-form button {
  height: 50px;
}

@media (max-width: 768px) {
  .coming-soon {
    width: 100%;
  }

  .countdown {
    flex-direction: column;
  }

  .countdown div {
    margin-bottom: 10px;
  }

  .subscribe-form input,
  .subscribe-form button {
    width: 100%;
    margin-top: 10px;
  }

  .subscribe-form input {
    margin-top: 0;
  }
  
  .btn-custom {
    width: 100%;
    margin-top: 20px;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateX(-50px); /* Déplacement initial vers la gauche */
  transition: opacity 1s ease, transform 0.5s ease;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateX(0); /* Déplacement à la position d'origine */
}

/*animation de la fleche*/
/*
.custom-arrow {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #ffffff;
  margin: 20px auto;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
}*/
.custom-arrow {
  width: 0; 
  height: 20px ;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid  #43b600d2;;
  margin: 20px auto;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
}


.reasons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.reason {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.reason i {
  font-size: 24px;
  margin-right: 10px;
  color: #def700;
}

.reason p {
  margin: 0;
  font-size: 18px;
}
.bf-2{
  background-image: url(fn2.jpg);
}
.bw{
  background-color: white;
}
.ps{
  /*margin-bottom: 5px;*/
}

/*section de mes raisons*/
.SR{
  padding: 60px 0;
  /*background-color: #000000;*/
  background-image: url(fn1.webp);
}

.text-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.reason-block {
  background:#ffcc00;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  padding-top: 40px; /* Adjusted for icon space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-top: 5px;
}

.icon-wrapper {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-wrapper i {
  font-size: 36px;
  color: RGB(0, 86, 179);
}

.reason-block p {
  font-size: 16px;
  margin-top: 40px; /* Adjusted for icon space */
  color: black;
}

.reason-block strong {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.row > .col-md-3 {
  display: flex;
}
/* Modifier la règle pour s'assurer que l'image est visible sur mobile */
@media (max-width: 768px) {
  .book-image {
      display: block;
      height: auto; /* Pour s'assurer qu'elle est redimensionnée correctement */
  }
}
.tr{
  border-color: #ddd;
  width:70% ;
}
.fs4{
  font-size: 25px;
}



/*whatsapp icone */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 40%;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  text-align: center;
  cursor: pointer;
  animation: pulse 2s infinite;
}
.whatsapp-icon i {
  font-size: 24px;
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
.pt{
  padding-top: 40px;
}
.pt4{
  padding-top: 100px;
}
/*image d'entete*/
.book{
  height: 300px;
}
@media (max-width: 768px) {
  .hero-section .container h1 {
      font-size: 1.5rem;
  }
  .hero-section .container p.st1 {
      font-size: 1rem;
  }
  .hero-section .container-fluid {
      margin-top: 20px;
  }
  .hero-section .responsive-img {
      max-width: 100%;
      height: auto;
  }
}
